@import "./theme/variables.css";

@font-face {
  font-family: "Helvetica";
  src: url("./assets/font/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/font/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background: #fafafa;
}

body,
ion-app,
ion-content,
ion-page,
ion-header,
ion-toolbar,
* {
  font-family: var(--estim-font-display);
  font-size: 16px;
}

p,
span,
small,
label,
input,
textarea,
button,
ion-label,
ion-note,
ion-text {
  font-family: var(--estim-font-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--estim-font-display);
}

@media (max-width: 360px) {
  body,
  ion-app,
  ion-content,
  ion-page,
  ion-header,
  ion-toolbar,
  * {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  body,
  ion-app,
  ion-content,
  ion-page,
  ion-header,
  ion-toolbar,
  * {
    font-size: 17px;
  }
}
